/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body,
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
p,
label,
input,
button,
li,
a,
i {
  font-size: 1.6rem;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
.App {
  min-height: 100vh;
}
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
section.main {
  position: relative;
  top: 70px;
}
.login,
.signup-form {
  min-height: 100vh;
  background-image: url("../assets/lockers.jpg");
  background-size: cover;
  color: white;
}
.login svg,
.signup-form svg {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.login .container,
.signup-form .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login .color-overlay,
.signup-form .color-overlay {
  background: rgba(92, 126, 120, 0.85);
  padding: 3rem;
  border-radius: 5px;
}
.login input,
.signup-form input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
.login button,
.signup-form button {
  display: block;
  margin: 20px auto;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #66bb6a;
  color: white;
}
.login .white-bubl,
.signup-form .white-bubl {
  width: 100px;
}
.login .logo,
.signup-form .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.login .logo h1,
.signup-form .logo h1 {
  font-size: 3.5rem;
}
.login .logo img,
.signup-form .logo img {
  width: 70%;
  max-width: 300px;
}
.login p,
.signup-form p {
  text-align: center;
}
.login label,
.signup-form label,
.login a,
.signup-form a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.login a,
.signup-form a {
  display: block;
  text-align: center;
  margin: 20px auto 0;
}
.login label,
.signup-form label {
  display: block;
  margin: 20px 0 10px;
}
.login option,
.signup-form option,
.login select,
.signup-form select {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5px;
}
.profile {
  text-align: center;
}
.profile h3 {
  font-size: 2.4rem;
}
.profile figure {
  position: relative;
  top: -150px;
  margin: 0 auto;
}
.profile figure .profile-pic {
  display: block;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}
.profile header {
  height: 30vh;
  background: url("https://images.unsplash.com/photo-1545360658-44c923941687?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-position: top center;
  background-size: cover;
}
.profile .container {
  position: relative;
  top: -150px;
}
nav {
  background: #5c7e78ff;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .brand img {
  height: 40px;
  margin: 0 2rem;
}
nav a {
  text-decoration: none;
  margin: 0 10px;
}
nav a.active {
  text-decoration: underline;
}
nav p,
nav h3,
nav a,
nav i {
  color: white;
}
nav h3 {
  font-size: 2.4rem;
}
nav .navbar-desktop-button {
  background: transparent;
  border: none;
  color: white;
}
.post {
  text-align: left;
  margin: 20px auto;
  width: 90%;
  line-height: 1.25;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}
@media (min-width: 800px) {
  .post {
    width: 75%;
  }
}
.post p,
.post h3,
.post a {
  color: black;
}
.post h3 {
  font-size: 2rem;
  font-weight: bold;
}
.post .post-content .name {
  font-size: 1.9rem;
  margin-right: 0.5%;
  font-weight: bold;
}
.post .timestamp {
  color: grey;
  white-space: nowrap;
  margin-left: 0.5%;
}
.post i {
  font-size: 2rem;
  margin-right: 1.6rem;
}
.post .comment-user {
  font-weight: 600;
  font-size: 1.9rem;
}
.post .comment {
  width: 95%;
  margin: 2rem auto;
  font-size: 1.5rem;
}
.post .delete-post,
.post .update-post {
  background: transparent;
  padding: 0;
  border: none;
}
.post i {
  margin-left: 10px;
}
.post i:hover {
  cursor: pointer;
  color: #b8e986;
}
.post .add-comment {
  display: flex;
  justify-content: center;
}
.post .add-comment input {
  margin-right: 0.5%;
  width: 20%;
  border-radius: 5px;
}
.post .add-comment button {
  border-radius: 5px;
}
.post .add-comment button:hover {
  color: #66bb6a;
}
.interests {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0;
}
.interests li {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 20px;
}
.bubls-area .bubls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}
.bubls-area .bubl {
  font-size: 2rem;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  box-shadow: inset 5px -5px 2px rgba(255, 255, 255, 0.5);
}
.bubls-area .bubl:nth-child(1n) {
  background: #b8e986;
}
.bubls-area .bubl:nth-child(2n) {
  background: #66bb6a;
}
.bubls-area .bubl:nth-child(3n) {
  background: #00acc1;
}
.bubls-area .bubl:nth-child(4n) {
  background: #ef5350;
}
.bubls-area .bubl:nth-child(5n) {
  background: #9575cd;
}
.bubls-area .bubl:nth-child(6n) {
  background: #ffd54f;
}
.bubls-area .bubl .accent {
  border-radius: 50%;
  position: absolute;
  top: 14%;
  right: 18%;
  height: 21%;
  width: 21%;
  background: rgba(255, 255, 255, 0.5);
}
.bubls-area .explore .bubl {
  flex-direction: column;
  width: 15rem;
  height: 15rem;
}
.bubls-area .explore .bubl p {
  margin: 10px 0;
}
.bubls-area .explore .bubl button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 1rem;
  border-radius: 5px;
}
.bubls-area input {
  display: block;
  margin: 10px auto;
}
.bubls-area ul {
  margin: 10px 0;
}
.bubls-area h2 {
  text-align: center;
  margin: 2rem 0;
}
.error {
  margin: 2rem;
  border: 1px solid #ef5350;
  padding: 1rem;
  border-radius: 5px;
}
.dropdown {
  position: absolute;
  right: 0;
  top: 70px;
  border-left: 1px solid grey;
  z-index: 999;
  background: white;
}
.dropdown a {
  color: black;
  display: block;
  text-align: right;
  padding: 1rem 2rem;
  border-bottom: 1px solid grey;
}
.dropdown #dropdown-button {
  color: black;
}
.update-form .container {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.update-form .container form {
  position: relative;
  padding: 2rem;
  width: auto;
}
.update-form .container form .cancel-update {
  background: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.update-form .container textarea {
  display: block;
  margin: 0 auto;
}
.full-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-success {
  margin: 2rem;
  border: 1px solid #00acc1;
  padding: 1rem;
  border-radius: 5px;
}
.post-list .title-container {
  margin-top: 1%;
  text-align: center;
}
.post-list .title-container button {
  padding: 0.2% 1.5%;
  border-radius: 15px;
}
.post-list .title-container h2 {
  margin-top: 1%;
}
.post-list .add-post {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
}
.post-list .add-post .post-input {
  padding: 5% 2%;
  border-radius: 8px;
}
.post-list .add-post button {
  margin: 2% auto;
  padding: 1.5% 8%;
  border-radius: 15px;
}
.post-list .add-post button:hover {
  color: #66bb6a;
}
.main-error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
