.login {
  .custom-flex(center, center);
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1527187162622-535b785f65f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1597&q=80);
  background-position: center;
  background-size: cover;
  input {
    display: block;
  }
  button {
    display: block;
    margin: 10px auto;
  }
}
