.login {
    .custom-flex(center, center);
    min-height: 100vh;
    input {
        display: block;
    }
    button {
        display: block;
        margin: 10px auto;
    }
    .white-bubl{
        width: 100px;
    }
    .logo{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10%;
        
        h1{
            font-size: 3.5rem;
        }
    }
    background-image: url('../assets/lockers.jpg');
}