.post {
    text-align: left;
    margin: 20px auto;
    width: 90%;
    line-height: 1.25;
    @media @tablet {
        width: 75%;
    }
    p,
    h3,
    a {
      color: black;
    }
    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
    .post-content {
        
    }
    .timestamp {
        color: grey;
        
    }
    i {
        font-size: 2rem;
        margin-right: 1.6rem;
    }
    .comment-user {
        font-weight: 600;
    }
    
}